:root {
  --primary: hsl(224, 73%, 56%);
  --secondary: hsl(0, 0%, 96%);
  --gray: hsla(0, 1%, 78%, 0.762);
  /* --dark: hsl(220, 4%, 13%); */
  --dark: hsl(0, 0%, 0%);
  --error: hsl(0, 100%, 58%);
  --waiting: hsl(357, 100%, 57%);
  --waiting-background: hsla(357, 100%, 57%, 0.2);
  --inspecting: hsl(210, 100%, 57%);
  --inspecting-background: hsla(210, 100%, 57%, 0.2);
  --assisting: hsl(43, 100%, 58%);
  --assisting-background: hsla(43, 100%, 58%, 0.2);
  --assisted: hsl(154, 59%, 51%);
  --assisted-background: hsla(154, 59%, 51%, 0.2);
  --text-primary: hsl(240, 15%, 94%);
  --text-dark: hsl(220, 16%, 11%);
  --text-primary-size: 0.87rem;

  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}
header {
  background-color: var(--dark);
  color: var(--text-primary);
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  color: var(--dark);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-weight: 400;
  font-size: var(--text-primary-size);
}
button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  font-size: var(--text-primary-size);
  cursor: pointer;
  background-color: inherit;
  color: inherit;
}

input {
  border: none;
  background-color: var(--secondary);
}

label {
  font-weight: 400;
  font-size: 0.85rem;
}
select,
option {
  font-size: var(--text-primary-size);
  border: none;
  background-color: hsla(0, 0%, 100%, 0);
}
h1 {
  font-size: 1.3rem;
  font-weight: 500;
}
h2,
h3 {
  color: var(--text-dark);
}
li {
  color: var(--text-dark);
  font-size: var(--text-primary-size);
}
.z-index-important {
  z-index: 1000 !important;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-secondary {
  font-size: 1.1rem;
  font-weight: 400;
  background-color: var(--gray);
}
.text-primary {
  color: var(--text-primary);
}
.text-waiting {
  color: var(--waiting);
}
.text-inspecting {
  color: var(--inspecting);
}
.text-assisting {
  color: var(--assisting);
}
.text-assisted {
  color: var(--assisted);
}
.text-error {
  color: var(--error);
}
.background-waiting {
  background-color: var(--waiting-background);
  border-left: 0.125rem solid var(--waiting);
}
.background-inspecting {
  background-color: var(--inspecting-background);
  border-left: 0.125rem solid var(--inspecting);
}
.background-assisting {
  background-color: var(--assisting-background);
  border-left: 0.125rem solid var(--assisting);
}
.background-assisted {
  background-color: var(--assisted-background);
  border-left: 0.125rem solid var(--assisted);
}
.btn-primary {
  background-color: var(--primary);
  border-radius: 0.25rem;
  color: var(--text-primary);
}
.btn-primary-invalid {
  background-color: var(--primary);
  border-radius: 0.25rem;
  color: var(--text-primary);
  opacity: 0.5;
  cursor: not-allowed;
}
.dark {
  background-color: var(--dark);
  color: var(--text-primary);
}

.justify-space-between {
  justify-content: space-between;
}

.vw-100 {
  width: 100vw;
}

.vh-100 {
  height: 100vh;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.align-end {
  align-items: flex-end;
}
.justify-flex-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}

.h-50 {
  height: 50%;
}
.w-80 {
  width: 80%;
}
.w-100 {
  width: 100%;
}
/* Margin - all sides */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: var(--spacing-one);
}

.m-2 {
  margin: var(--spacing-two);
}

.m-3 {
  margin: var(--spacing-three);
}

.m-4 {
  margin: var(--spacing-four);
}

.m-5 {
  margin: var(--spacing-five);
}

.m-auto {
  margin: auto;
}
/* Margin-left */

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: var(--spacing-one);
}

.ml-2 {
  margin-left: var(--spacing-two);
}

.ml-3 {
  margin-left: var(--spacing-three);
}

.ml-4 {
  margin-left: var(--spacing-four);
}

.ml-5 {
  margin-left: var(--spacing-five);
}

.ml-auto {
  margin-left: auto;
}
/* Margin-top */

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: var(--spacing-one);
}

.mt-2 {
  margin-top: var(--spacing-two);
}

.mt-3 {
  margin-top: var(--spacing-three);
}

.mt-4 {
  margin-top: var(--spacing-four);
}

.mt-5 {
  margin-top: var(--spacing-five);
}

.mt-auto {
  margin-top: auto;
}

/* Margin-bottom */

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: var(--spacing-one);
}

.mb-2 {
  margin-bottom: var(--spacing-two);
}

.mb-3 {
  margin-bottom: var(--spacing-three);
}

.mb-4 {
  margin-bottom: var(--spacing-four);
}

.mb-5 {
  margin-bottom: var(--spacing-five);
}

.mb-auto {
  margin-bottom: auto;
}
.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.mx-3 {
  margin-right: var(--spacing-three);
  margin-left: var(--spacing-three);
}

.mx-4 {
  margin-right: var(--spacing-four);
  margin-left: var(--spacing-four);
}

.mx-5 {
  margin-right: var(--spacing-five);
  margin-left: var(--spacing-five);
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: var(--spacing-one);
}

.p-2 {
  padding: var(--spacing-two);
}

.p-3 {
  padding: var(--spacing-three);
}

.p-4 {
  padding: var(--spacing-four);
}

.p-5 {
  padding: var(--spacing-five);
}

.p-auto {
  padding: auto;
}
/* padding-bottom */

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: var(--spacing-one);
}

.pb-2 {
  padding-bottom: var(--spacing-two);
}

.pb-3 {
  padding-bottom: var(--spacing-three);
}

.pb-4 {
  padding-bottom: var(--spacing-four);
}

.pb-5 {
  padding-bottom: var(--spacing-five);
}

.pb-auto {
  padding-bottom: auto;
}
/* Padding - y axis */

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.py-3 {
  padding-top: var(--spacing-three);
  padding-bottom: var(--spacing-three);
}

.py-4 {
  padding-top: var(--spacing-four);
  padding-bottom: var(--spacing-four);
}

.py-5 {
  padding-top: var(--spacing-five);
  padding-bottom: var(--spacing-five);
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

/* padding - x axis */

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.px-3 {
  padding-right: var(--spacing-three);
  padding-left: var(--spacing-three);
}

.px-4 {
  padding-right: var(--spacing-four);
  padding-left: var(--spacing-four);
}

.px-5 {
  padding-right: var(--spacing-five);
  padding-left: var(--spacing-five);
}

.px-auto {
  padding-right: auto;
  padding-left: auto;
}

/* padding-left */

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: var(--spacing-one);
}

.pl-2 {
  padding-left: var(--spacing-two);
}

.pl-3 {
  padding-left: var(--spacing-three);
}

.pl-4 {
  padding-left: var(--spacing-four);
}

.pl-5 {
  padding-left: var(--spacing-five);
}

.pl-auto {
  padding-left: auto;
}

